# ignore temp vim files
**.swp
**.swo

# macOS folder files
**.DS_STORE

# Compiled class file
*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Ignore generated test files
tests/outputs/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# ignore IntelliJ files
.idea/**.iws
.idea/workspace.xml
.idea/**tasks.xml
out/
**/.idea/artifacts/

# ignore a6 temp files
a6/outputs/*
